<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form action="/logout" method="get">
        <input type="submit" value="Sign Out">
    </form>
    <hr>
    <a href="/order"> Make Order</a>
    ○
    <a href="/about"> About Us</a>
    ○
    <a href="/administration">For Administration</a>
    ○
    <a href="/users/orders">My Orders</a>
    <hr>
</div>
</body>
</html>